
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	position: fixed;
	width: 100%;
	height: 100%;

	/* center vertically */
	display: block;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: rgb(40, 40, 40);

	/* default text */
	font-family: sans-serif;
	font-size: 1.5rem;
}
#ssp_slider_container {
	width: 10%
	padding-left: 8%;
	padding-right: 8%;
}

#chart12 {
	float: right
	width: 50%
}
#chart1 {
	float: left;
	width: 50%
}

#map {
	float: left;
	width: 100%;
	height: 100%;
}

#mouse_region {
	position: absolute;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #2E2E2E;
	border-style: ridge;
	pointer-events: none;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#right_panel {
	width: 33% !important;
	background-color: rgb(70, 70, 80);
	color: #fff;
}

#right_panel .handle{
	background-color: #2E2E2E;
    left: -30px;
  position: absolute;
  top: 40%;
  width: 30px;
  cursor: pointer;
}

#analytics_container {
	padding-left: 3%;
}

#analytics_mode, #compare_mode {
	width: 48%;
}

#analytics_mode {
	background-color: white;
	color: #2E2E2E;
}

#compare_mode {
	background-color: #2E2E2E;
	color: white;
}

#swap_regions {
	width: 96%;
	background-color: #2E2E2E;
	color: white;
}

.sphere {
  fill: rgb(40, 40, 40);
}

.land {
  fill: rgb(60, 60, 60);
}

.boundary {
  fill: none;
  stroke: #76b6c4;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

#analytics_container button {
	color: #000000;
}

.label, .legendTitle {
	fill: white;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/

svg {
	margin-bottom: 1rem;
}
